body{
  background-image: linear-gradient(354.5829769202486deg, white, #dfd7c2);
  background-repeat: no-repeat;
  color: navy;
}

.details {
  margin: 1rem;
  text-align: justify;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
  text-decoration: none;
}

.bottom_details {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  text-align: center;
}

.navbar{
  position: sticky;
  z-index: 1;
}

.nav-link:hover{
  background-color: aqua;
  color: black;
}

/* .navbar-brand:hover */

.img-thumbnail{
  width: 100px;
}

.logo{
  height: 50px;
  width: 100px;
}

.card-container{
  display: flex;
}

.card{
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 1rem;
}

.card :hover{
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

#description{
  font-size:medium;
}

.home_info{
  text-align: justify;
  margin: 1rem;
}